
<div class="container">
  <%= simple_form_for [@restaurant] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.submit "Create a Restaurant", class: "btn btn-primary" %>
  <% end %>

  <div><%= link_to 'Go back to list', restaurants_path %></div>
</div>
